<!-- templates/home.html -->
{% extends 'base.html' %}
{% block content %}
<div class="row">
    <img src="static/img/3.jpg" alt="">
</div>
<div class="row" style="padding: 25px;">
   <div class="col-sm-4"></div>
   <div class="col-sm-4" style="font-size: 25px;">One stop, multiple financing sources Our finance sources accommodate a wide range of customers, including first-time buyers.</div>
   <div class="col-sm-4" ><img src="static/img/4.jpg" alt="" style="height: 200px;"></div>
</div>
<div class="row" style="padding: 25px; margin-bottom: 60px;">
    <div class="col-sm-4"><img src="static/img/5.jpg" alt="" style="height: 200px;"></div>
    <div class="col-sm-4" style="margin-left: 30px; font-size: 25px;">One stop, multiple financing sources Our finance sources accommodate a wide range of customers, including first-time buyers.</div>
</div>
{% endblock %}